<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
</head>
<body>
<form action="/user/update" method="post">
    <input type="hidden" name="uid" th:value="${user.uid}">
    <p>姓名:<input type="text" name="name" th:value="${user.name}"></p>
    <p>性别: 男<input type="radio" value="男" name="sex" > 女<input type="radio" value="女" name="sex"></p>
    <p>年龄: <input type="text" name="age" th:value="${user.age}"></p>
    <p>班级: <input type="text" name="clazz" th:value="${user.clazz}"></p>
    <input type="submit" value="修改">
</form>
</body>
</html>